.draggable-card {
    z-index: 999;
    user-select: none;
}

.portfolio-main {
    background: none;
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    position: relative;
    backdrop-filter: blur(20px);
}