.draggable-card {
    z-index: 999;
    user-select: none;
}

.portfolio-main {
    background: none;
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    position: relative;
    backdrop-filter: blur(20px);
}

.resize-handle {
    position: absolute;
    z-index: 10;
}

/* Sides */
.resize-handle.top {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px); /* leave space for corners */
    height: 5px;
    cursor: ns-resize;
}

.resize-handle.bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px); /* leave space for corners */
    height: 5px;
    cursor: ns-resize;
}

.resize-handle.left {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: calc(100% - 20px); /* leave space for corners */
    width: 5px;
    cursor: ew-resize;
}

.resize-handle.right {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: calc(100% - 20px); /* leave space for corners */
    width: 5px;
    cursor: ew-resize;
}

/* Corners */
.resize-handle.top-left {
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    cursor: nwse-resize;
}

.resize-handle.top-right {
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    cursor: nesw-resize;
}

.resize-handle.bottom-left {
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    cursor: nesw-resize;
}

.resize-handle.bottom-right {
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    cursor: nwse-resize;
}
