.draggable-card {
    z-index: 999;
    user-select: none;
}

.card-main {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 740px;
    height: 460px;
    border-radius: 10px;
}

.card-exit {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 15px;
    height: 15px;
    border: none;
    filter: invert(0.3);
    transition: filter 0.2s;
    z-index: 1;
}

.card-exit:hover {
    filter: invert(0.6);
}

.card-left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(32, 32, 32, 0.99);
    width: 460px;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    backdrop-filter: blur(20px);
}

.xcode-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.xcode-glow {
    position: relative;
}

.xcode-glow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, rgba(0, 122, 255, 0.5) 0%, transparent 70%);
    filter: blur(40px);
    z-index: 0;
}

.xcode-img {
    position: relative;
    z-index: 1;
    width: 130px;
    display: block;
}

.xcode-title {
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(221, 222, 223);
    margin: 0px;
    margin-top: -10px;
}

.xcode-version {
    margin: -5px;
    color: rgb(155, 156, 157);
    font-weight: 500;
}

.card-about {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.about-button {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    background-color: rgb(39, 39, 39);
    color: rgb(221, 221, 221);
    margin-top: 8px;
    height: 36px;
    width: 347px;
    border: none;
    border-radius: 5px;
}

.about-icon {
    margin-left: 5px;
    filter: invert(0.6);
}

.card-right-section {
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: rgba(42, 41, 42, 0.99);
    width: 280px;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    backdrop-filter: blur(20px);
}

.button-portfolio {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    width: 100%;
    height: 45px;
    background-color: rgb(19 79 172);
    border: none;
    border-radius: 5px;
}

.button-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 10px;
}

.button-title {
    display: flex;
    color: rgb(235, 235, 235);
    font-weight: 600;
    justify-content: left;
    margin: 0;
}

.button-dir {
    display: flex;
    color: rgba(172, 173, 174, 0.9);
    justify-content: left;
    font-size: 0.72rem;
    font-weight: 500;
    margin: 0;
}