main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('src/assets/mac-os-bg.png');
    background-size: 2160px auto;;
    background-repeat: no-repeat;
    overflow: hidden;
}